{{isDevOnlyBegin}}
//-------------------------------------------------------------------------
// TypeCompositeInfo: {{namespace}} {{typeName}}
//-------------------------------------------------------------------------

#include "Core/Serialization/Json.h"
#include "Core/TypeSystem/Property/TypeProperty.h"
#include "Core/TypeSystem/Info/TypeMetaInfo.h"
#include "Core/TypeSystem/Property/TypeProperty.h"
#include "Core/TypeSystem/Metadata/TypeMetaAttribute.h"

namespace SE
{
    template<>
    class {{exportMacro}} TTypeCompositeInfo<::{{namespace}}::{{typeName}}> final : public TypeCompositeInfo
    {
       static ::{{namespace}}::{{typeName}} const* s_pDefaultInstance_{{typeIDUint}};

    public:
        static void RegisterType()
        {
            {{#IsNotAbstract}}
            s_pDefaultInstance_{{typeIDUint}} = New<::{{namespace}}::{{typeName}}>(nullptr);{{/IsNotAbstract}}

            ::{{namespace}}::{{typeName}}::s_pTypeInfo = New<TTypeCompositeInfo<::{{namespace}}::{{typeName}}>>(s_pDefaultInstance_{{typeIDUint}});
            Types::RegisterType(::{{namespace}}::{{typeName}}::s_pTypeInfo);
        }

        static void UnregisterType()
        {
            Types::UnregisterType(::{{namespace}}::{{typeName}}::s_pTypeInfo);
            {{#IsNotAbstract}}// Destroy default type instance
            Delete(const_cast<::{{namespace}}::{{typeName}}*>(s_pDefaultInstance_{{typeIDUint}}));{{/IsNotAbstract}}
            Delete(const_cast<TypeCompositeInfo*>(::{{namespace}}::{{typeName}}::s_pTypeInfo));
        }

    public:

        //-------------------------------------------------------------------------
        // Constructor Methods
        //-------------------------------------------------------------------------
        TTypeCompositeInfo(IType const* pDefaultInstance)
        {
            {{#ConstructorMethod}}// Create type info
            id = TypeID(SE_TEXT("{{namespace}}::{{typeName}}"));
            size = sizeof(::{{namespace}}::{{typeName}});
            alignment = alignof(::{{namespace}}::{{typeName}});
            name = SE_TEXT("{{typeName}}");
            fullName = SE_TEXT("{{namespace}}::{{typeName}}");

            // Add type metadata
            isAbstract = {{isAbstract}};


            // Create dev tools info
            #ifdef SE_DEVELOPMENT
            category = "{{category}}";
            isForDevelopmentUseOnly = {{isDevOnly}};
            #endif

            // Add parent info
            // Parent types
            pParentTypeInfo = ::{{parentTypeNamespace}}::{{parentTypeName}}::s_pTypeInfo;

            {{#isNotAbstract}}// Add properties
            auto pActualDefaultInstance = reinterpret_cast<::{{namespace}}::{{typeName}} const*>(pDefaultInstance);{{/isNotAbstract}}

            TypeProperty* propertyInfo = New<TypeProperty>();
            TypeID metaTypeID;
            {{#properties}}{{isDevOnlyBeginFlag}}
            // Property {{propertieName}}------------------------
            propertyInfo->id = StringID(SE_TEXT("{{propertieName}}"));
            propertyInfo->typeID = TypeID(SE_TEXT("{{propertieTypename}}"));
            propertyInfo->parentTypeID = TypeID({{parentTypeID}}u);
            propertyInfo->templateArgumentTypeID = TypeID(SE_TEXT("{{propertieTemplateArgTypeName}}"));
            propertyInfo->name = SE_TEXT("{{propertieName}}");
            // Meta
            {{#metaContents}}metaTypeID = TypeID(SE_TEXT("SG::{{metaType}}"));
            CreateMeta(metaTypeID, "{{metaContext}}", propertyInfo);{{/metaContents}}

            // Abstract types cannot have default values since they cannot be instantiated
            {{#propertieIsNotAbstract}}propertyInfo->pDefaultValue = &pActualDefaultInstance->{{propertieName}};
            propertyInfo->offset = offsetof(::{{namespace}}::{{typeName}}, {{propertieName}});

            {{#propertieDynamicArray}}propertyInfo->pDefaultArrayData = pActualDefaultInstance->{{propertieName}}.Get();
            propertyInfo->arraySize = (int32) pActualDefaultInstance->{{propertieName}}.Count();
            propertyInfo->arrayElementSize = (int32) sizeof(::{{propertieTypeName}}{{&templateSpecializationString}});
            propertyInfo->size = sizeof(List<::{{propertieTypeName}}{{&templateSpecializationString}}>);{{/propertieDynamicArray}}
            {{#propertieStaticArray}}propertyInfo->pDefaultArrayData = pActualDefaultInstance->{{propertieName}};
            propertyInfo->arraySize = {{staticArraySize}};
            propertyInfo->arrayElementSize = (int32_t) sizeof(::{{propertieTypeName}}{{&templateSpecializationString}});
            propertyInfo->size = sizeof(::{{propertieTypeName}}{{&templateSpecializationString}}) * {{staticArraSize}};{{/propertieStaticArray}}
            {{#propertieNotArray}}propertyInfo->size = sizeof(::{{propertieTypeName}}{{&templateSpecializationString}});{{/propertieNotArray}}
            propertyInfo->flags |= {{propertieFlags}};
            properties.Add(propertyInfo);
            propertyMap.Add(propertyInfo->id, properties.Count() - 1);{{/propertieIsNotAbstract}}
            {{^propertieIsNotAbstract}}propertyInfo->pDefaultValue = nullptr;{{/propertieIsNotAbstract}}
            {{isDevOnlyEndFlag}}
            {{/properties}}{{/ConstructorMethod}}
        }


        virtual IType* CreateType() const override final
        {
            {{#CreationMethod}}{{#IsNotAbstract}}
            auto pMemory = PlatformAllocator::Allocate(sizeof(::{{namespace}}::{{typeName}}), alignof(::{{namespace}}::{{typeName}}));
            return new (pMemory) ::{{namespace}}::{{typeName}}(nullptr);{{/IsNotAbstract}}
            {{^IsNotAbstract}}
            ENGINE_UNREACHABLE_CODE();
            return nullptr;{{/IsNotAbstract}}{{/CreationMethod}}
        }

        virtual void CreateTypeInPlace( IType* pAllocatedMemory ) const override final
        {
            {{#InPlaceCreationMethod}}{{#IsNotAbstract}}ENGINE_ASSERT( pAllocatedMemory != nullptr );
            new (pAllocatedMemory) ::{{namespace}}::{{typeName}}(nullptr);{{/IsNotAbstract}}{{^IsNotAbstract}}
            ENGINE_UNREACHABLE_CODE(); // Error! Trying to instantiate an abstract type!{{/IsNotAbstract}}{{/InPlaceCreationMethod}}
         }

        virtual IType const *GetDefaultInstance() const override
        {
            return s_pDefaultInstance_{{typeIDUint}};
        }

        void CreateMeta(TypeID type, const StringAnsi& context, TypeProperty *propertyInfo)
        {
            TypeMetaInfo const* metaInfo = Types::GetMetaTypeInfo(type);
            if (metaInfo != nullptr)
            {
                rapidjson::Document document;
                document.Parse(context.Get(), context.Length());
                if (document.GetParseError() == rapidjson::kParseErrorNone)
                {
                    Json::Array metaDatas = document.GetArray();

                    TypeMetaAttribute* meta = metaInfo->Create();
                    meta->Parse(metaDatas);
                    propertyInfo->metaContainer->Add(type, meta);
                }
            }
        }

        //-------------------------------------------------------------------------
        // Array Methods
        //-------------------------------------------------------------------------

        virtual uint8* GetArrayElementDataPtr(IType* pType, uint32 arrayID, int64 arrayIdx) const override final
        {
            {{#ArrayElementDataPtrMethod}}auto pActualType = reinterpret_cast<::{{namespace}}::{{typeName}}*>(pType);
            {{#propertyDesc}}{{isDevOnlyBegin}}
            {{#DynamicArray}}if ( arrayID == {{propertyID}})
            {
                if((arrayIdx + 1) >= pActualType->{{propertyDescName}}.Count())
                {
                    pActualType->{{propertyDescName}}.Resize(arrayIdx + 1);
                }
                return (uint8*) &pActualType->{{propertyDescName}}[arrayIdx];
            }{{/DynamicArray}}
            {{#StaticArray}}if (arrayID == {{propertyID}})
            {
                return (uint8*) &pActualType->{{propertyDescName}}[arrayIdx];
            }{{/StaticArray}}
            {{isDevOnlyEnd}}
            {{/propertyDesc}}{{/ArrayElementDataPtrMethod}}
            // We should never get here since we are asking for a ptr to an invalid property
            ENGINE_UNREACHABLE_CODE();
            return nullptr;
        }

        virtual int64 GetArraySize( IType const* pTypeInstance, uint32 arrayID ) const override final
        {
            {{#ArraySizeMethod}}auto pActualType = reinterpret_cast<::{{namespace}}::{{typeName}} const*>(pTypeInstance);
            ENGINE_ASSERT(pActualType != nullptr);{{#propertyDesc}}{{isDevOnlyBegin}}
            {{#DynamicArray}}if (arrayID == {{propertyID}})
            {
                return pActualType->{{propertyDescName}}.Count();
            }{{/DynamicArray}}
            {{#StaticArray}}if (arrayID == {{propertyID}})
            {
                return {{arraySize}};
            }{{/StaticArray}}
            {{isDevOnlyEnd}}
            {{/propertyDesc}}{{/ArraySizeMethod}}
            // We should never get here since we are asking for a ptr to an invalid property
            ENGINE_UNREACHABLE_CODE();
            return 0;
        }

        virtual int64 GetArrayElementSize(uint32 arrayID) const override final
        {
            {{#ArrayElementSizeMethod}}{{#propertyDesc}}{{isDevOnlyBegin}}
            if (arrayID == {{propertyID}})
            {
                return sizeof({{propertyTypeName}}{{&templateSpecializationString}});
            }
            {{isDevOnlyEnd}}
            {{/propertyDesc}}{{/ArrayElementSizeMethod}}
            // We should never get here since we are asking for a ptr to an invalid property
            ENGINE_UNREACHABLE_CODE();
            return 0;
        }

        virtual void ClearArray(IType* pTypeInstance, uint32 arrayID) const override final
        {
            {{#ArrayClearMethod}}auto pActualType = reinterpret_cast<::{{namespace}}::{{typeName}}*>(pTypeInstance);
            ENGINE_ASSERT(pActualType != nullptr);
            {{#propertyDesc}}{{isDevOnlyBegin}}
            if (arrayID == {{propertyID}})
            {
                pActualType->{{propertyDescName}}.Clear();
                return;
            }
            {{isDevOnlyEnd}}
            {{/propertyDesc}}{{/ArrayClearMethod}}
            // We should never get here since we are asking for a ptr to an invalid property
            ENGINE_UNREACHABLE_CODE();
        }

        virtual void AddArrayElement(IType* pTypeInstance, uint32 arrayID) const override final
        {
            {{#AddArrayElementMethod}}auto pActualType = reinterpret_cast<::{{namespace}}::{{typeName}}*>(pTypeInstance);
            ENGINE_ASSERT(pActualType != nullptr);
            {{#propertyDesc}}{{isDevOnlyBegin}}
            if (arrayID == {{propertyID}})
            {
                pActualType->{{propertyDescName}}.AddOne();
                return;
            }
            {{isDevOnlyEnd}}
            {{/propertyDesc}}{{/AddArrayElementMethod}}
            // We should never get here since we are asking for a ptr to an invalid property
            ENGINE_UNREACHABLE_CODE();
        }

        virtual void InsertArrayElement(IType* pTypeInstance, uint32 arrayID, int64 insertionIdx) const override final
        {
            {{#InsertArrayElementMethod}}auto pActualType = reinterpret_cast<::{{namespace}}::{{typeName}}*>(pTypeInstance);
            ENGINE_ASSERT(pActualType != nullptr);
            {{#propertyDesc}}{{isDevOnlyBegin}}
            if (arrayID == {{propertyID}})
            {
                pActualType->{{propertyDescName}}.Add(pActualType->{{propertyDescName}}[insertionIdx]);
                return;
            }
            {{isDevOnlyEnd}}
            {{/propertyDesc}}{{/InsertArrayElementMethod}}
            // We should never get here since we are asking for a ptr to an invalid property
            ENGINE_UNREACHABLE_CODE();
        }

        virtual void MoveArrayElement(IType* pTypeInstance, uint32 arrayID, int64 originalElementIdx, int64 newElementIdx) const override final
        {
            {{#MoveArrayElementMethod}}auto pActualType = reinterpret_cast<::{{namespace}}::{{typeName}}*>(pTypeInstance);
            ENGINE_ASSERT(pActualType != nullptr);
            {{#propertyDesc}}{{isDevOnlyBegin}}
            if (arrayID == {{propertyID}})
            {
                auto const originalElement = pActualType->{{propertyDescName}}[originalElementIdx];
                pActualType->{{propertyDescName}}.RemoveAt(originalElementIdx);;
                pActualType->{{propertyDescName}}.Insert(newElementIdx, originalElement);
                return;
            }
            {{isDevOnlyEnd}}
            {{/propertyDesc}}{{/MoveArrayElementMethod}}
            // We should never get here since we are asking for a ptr to an invalid property
            ENGINE_UNREACHABLE_CODE();
        }

        virtual void RemoveArrayElement(IType* pTypeInstance, uint32 arrayID, int64 elementIdx) const override final
        {
            {{#RemoveArrayElementMethod}}auto pActualType = reinterpret_cast<::{{namespace}}::{{typeName}}*>(pTypeInstance);
            ENGINE_ASSERT(pActualType != nullptr);
            {{#propertyDesc}}{{isDevOnlyBegin}}
            if (arrayID == {{propertyID}})
            {
                pActualType->{{propertyDescName}}.RemoveAt(elementIdx);
                return;
            }
            {{isDevOnlyEnd}}
            {{/propertyDesc}}{{/RemoveArrayElementMethod}}
            // We should never get here since we are asking for a ptr to an invalid property
            ENGINE_UNREACHABLE_CODE();
        }


        //-------------------------------------------------------------------------
        // Default Value Methods
        //-------------------------------------------------------------------------

        virtual bool AreAllPropertyValuesEqual( IType const* pTypeInstance, IType const* pOtherTypeInstance ) const override final
        {
            {{#AreAllPropertyValuesEqual}}auto pType = reinterpret_cast<::{{namespace}}::{{typeName}} const*>(pTypeInstance);
            auto pOtherType = reinterpret_cast<::{{namespace}}::{{typeName}} const*>(pOtherTypeInstance);
            {{#propertyDesc}}{{isDevOnlyBegin}}
            if(!IsPropertyValueEqual(pType, pOtherType, {{propertyID}}))
            {
                return false;
            }
            {{isDevOnlyEnd}}
            {{/propertyDesc}}{{/AreAllPropertyValuesEqual}}
            return true;
        }


        virtual bool IsPropertyValueEqual(IType const* pTypeInstance, IType const* pOtherTypeInstance, uint32 propertyID, int32 arrayIdx = -1) const override final
        {
            {{#IsPropertyEqualMethod}}auto pType = reinterpret_cast<::{{namespace}}::{{typeName}} const*>(pTypeInstance);
            auto pOtherType = reinterpret_cast<::{{namespace}}::{{typeName}} const*>(pOtherTypeInstance);
            {{#propertyDesc}}{{isDevOnlyBegin}}
            if (propertyID == {{propertyID}})
            {
                {{#arrayProperty}}// Compare array elements;
                if (arrayIdx != -1)
                {
                    {{#dynamicArrayProperty}}if (arrayIdx >= pOtherType->{{propertyDescName}}.Count())
                    {
                        return false;
                    }{{/dynamicArrayProperty}}
                    {{#structureProperty}}return ::{{propertyDescTypeName}}::s_pTypeInfo->AreAllPropertyValuesEqual(&pType->{{propertyDescName}}[arrayIdx], &pOtherType->{{propertyDescName}}[arrayIdx] );{{/structureProperty}}
                    {{^structureProperty}}return pType->{{propertyDescName}}[arrayIdx] == pOtherType->{{propertyDescName}}[arrayIdx];{{/structureProperty}}
                }
                else // Compare entire array contents
                {
                    {{#dynamicArrayProperty}}if (pType->{{propertyDescName}}.Count() != pOtherType->{{propertyDescName}}.Count())
                    {
                        return false;
                    }

                    for ( int64 i = 0; i < pType->{{propertyDescName}}.Count(); i++ ){{/dynamicArrayProperty}}
                    {{^dynamicArrayProperty}}for ( int64 i = 0; i < {{propertyDescArraySize}}; i++ ){{/dynamicArrayProperty}}
                    {
                        {{#structureProperty}}if(!::{{propertyDescTypeName}}::s_pTypeInfo->AreAllPropertyValuesEqual( &pType->{{propertyDescName}}[i], &pOtherType->{{propertyDescName}}[i]))
                        {
                            return false;
                        }{{/structureProperty}}
                        {{^structureProperty}}if(pType->{{propertyDescName}}[i] != pOtherType->{{propertyDescName}}[i])
                        {
                            return false;
                        }{{/structureProperty}}
                    }
                }{{/arrayProperty}}{{^arrayProperty}}
                {{#structureProperty}}return ::{{propertyDescTypeName}}::s_pTypeInfo->AreAllPropertyValuesEqual(&pType->{{propertyDescName}}, &pOtherType->{{propertyDescName}});{{/structureProperty}}
                {{^structureProperty}}return pType->{{propertyDescName}} == pOtherType->{{propertyDescName}};{{/structureProperty}}{{/arrayProperty}}
            }
            {{isDevOnlyEnd}}
            {{/propertyDesc}}
            {{^propertyDesc}}ENGINE_UNREACHABLE_CODE();{{/propertyDesc}}{{/IsPropertyEqualMethod}}
            return false;
        }

        virtual void ResetToDefault( IType* pTypeInstance, uint32 propertyID ) const override final
        {
            {{#SetToDefaultValueMethod}}auto pDefaultType = reinterpret_cast<::{{namespace}}::{{typeName}} const*>(s_pDefaultInstance_{{typeIDUint}});
            auto pActualType = reinterpret_cast<::{{namespace}}::{{typeName}}*>(pTypeInstance);
            ENGINE_ASSERT(pActualType != nullptr && pDefaultType != nullptr);
            {{#propertyDesc}}{{isDevOnlyBegin}}
            if (propertyID == {{propertyID}})
            {
                {{#staticArrayProperty}}
                pActualType->{{propertyDescName}}[{{staticArrayIndex}}] = pDefaultType->{{propertyDescName}}[{{staticArrayIndex}}];{{/staticArrayProperty}}
                {{^staticArrayProperty}}pActualType->{{propertyDescName}} = pDefaultType->{{propertyDescName}};{{/staticArrayProperty}}
            }
            {{isDevOnlyEnd}}
            {{/propertyDesc}}{{/SetToDefaultValueMethod}}
        }

        virtual bool AreAllPropertiesSetToDefault(IType const *pTypeInstance) const override
        {
            return AreAllPropertyValuesEqual(pTypeInstance, TTypeCompositeInfo<::{{namespace}}::{{typeName}}>::s_pDefaultInstance_{{typeIDUint}});
        }

        virtual bool IsPropertyValueSetToDefault(IType const *pTypeInstance, uint32 propertyID, int32_t arrayIdx = -1) const override
        {
            return IsPropertyValueEqual(pTypeInstance, TTypeCompositeInfo<::{{namespace}}::{{typeName}}>::s_pDefaultInstance_{{typeIDUint}}, propertyID, arrayIdx);
        }
    };

    ::{{namespace}}::{{typeName}} const* TTypeCompositeInfo<::{{namespace}}::{{typeName}}>::s_pDefaultInstance_{{typeIDUint}} = nullptr;
}
{{isDevOnlyEnd}}